.pagination a {
    background: rgb(206, 3, 12);
    color: white;
    align-self: end;
    /* padding: 2px 4px; */;
    transition: background-color .3s;
    border: 1px;
    border-style: solid;
  }
  
  .pagination a.active {
    background-color: rgb(216, 77, 77);
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color:red;}