body{
   background: lightgray;
}

.title {
    font-weight: bold;
    font-size: 50px;
    color: rgb(206, 3, 12);
    background: white;
}
 img {
    width: 120px;
    margin-left: 30px;
 }

 .home-container{
width: auto;
min-height: 90%;
background-color: lightgray;
padding: 40px;;
display: flex;
padding: 20px;
justify-content: space-evenly;
align-items: center;
height: 100%;
 }

 .button1{
   color: white;
   text-align: center;
    background-color: rgb(206, 3, 12);
    font-weight: normal;
    font-size: 18px;
    border-radius: 12px;
    padding: 12px;
    margin-right: 10px;
 }

 .button2{
   color: white;
   text-align: center;
    background-color: rgb(206, 3, 12);
    font-weight: normal;
    font-size: 18px;
    border-radius: 12px;
    padding: 12px;
    float:right;
    margin-right: 10px;
 }

 .homepage{
   color: yellow;
   background-color: rgb(206, 3, 12);
   font-weight: bolder;
   font-size: 20px;
   border-radius: 12px;
   padding: 15px;
 }
 
 .footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: end;
   background: white;
 }
mark.red{
   color: red;
   background: lightgray;
 }


.top{
   font-size: 18px;
   margin-left: 25px;
}

.search input[type=text] {
   padding: 6px;
   margin-top: 8px;
   margin-left: 25px;
   border: none;
   font-size: 17px;
 }
 
 .center{
   font-size: 35px;
   position: absolute;
   text-align: center;
   background: white;
   margin-left: 20%;
   margin-top: 5%;
   vertical-align: center;
   display: inline-block;
   padding-top: 50px;
   padding-right: 125px;
   padding-bottom: 50px;
   padding-left: 125px;
 }

 div.item {
   vertical-align: top;
   display: inline-block;
   width: 200px;
   background: white;
}
.candidate {
   width: 150px;
   height: 150px;
}
.caption {
   display: block;
   font-size: 18px;
   margin-left: 30%;
   margin-top: 10px;
}


 .footer{
    text-align:end;
 }
 
.vote{
   height: 25px;
  width: 25px;
}

.submit{
   color: white;
   text-align: center;
    background-color: rgb(206, 3, 12);
    font-weight: normal;
    font-size: 18px;
    border-radius: 12px;
    padding: 12px;
    float:right;
    margin-right: 10px;
}